.todo-wrapper {
    color: #fff;
    font-size: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #007c93;
    border: 1px solid #000;
    padding: 0 15px;
}

.todo-text {
    flex-grow: 1;
    font-weight: 500;
}

.btn {
    font-family: 'BlinkMacSystemFont', sans-serif;
    font-style: italic;
    height: 100%;
    border: none;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    box-shadow: 0 0 3px 1px #000;
}

.todo-status {
    background-color: #00BADB;
    width: 110px;
}

.todo-remove {
    background-color: #002E36;
    color: #fff;
}