.title {
    text-align: center;
    font-style: italic;
}

.add-todo {
    height: 50px;
    width: 100px;
    margin: 15px 0 0 15px;
    background-color: #00BADB;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 10px;
    border: 1px solid #044b59;
}

.add-todo-btn {
    height: 30px;
}

.input {
    height: 30px;
    border-radius: 10px;
    margin-left: 15px;
}

.input::placeholder {
    color: #3a3a3a;
    font-style: italic;
}

.input[type="text"] {
    outline: none;
    padding-left: 15px;
    border-color: #023a44;
    font-style: italic;
}

.input:focus {
    box-shadow: 0 0 3px 1px #545454;
}